h1 {
    color: black;
    text-align: center;
    font-family: garamond;
    font-size: 50px
}
p {
    font-size: 25px;
    text-align: center;
    font-family: garamond;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
body {
    background-color: aquamarine;
}
.contact {
    text-align: center;
    padding-top: 10%;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-top: 10%;
}
.sleepy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-top: 10%;
}